.menuContainer{
    color: white;
    text-align: left;
    margin: 50px 0;
}

.menuContainer .h2{
    font-size: 22px;
    padding: 0 60px;
}

.menuContainer .navLinkContainer{
    display: flex;
    flex-direction: column;
    font-size: 16px;
}

.menuContainer .navLink{
    text-decoration: none;
    color: white;
    margin: 4px 0;
    padding: 0 60px;
}

.menuContainer .activeNavLink{
    text-decoration: none;
    color: white;
    margin: 4px 0;
    padding: 0 54px;
    border-left: 6px solid #E86060;
}

@media (max-width: 1200px) {
    .menuContainer .h2{
        padding: 0 25px;
        font-size: 20px;
    }

    .menuContainer .navLink{
        padding: 0 25px;
    }

    .menuContainer .activeNavLink{
        padding: 0 19px;
    }
}

@media (max-width: 1000px){
    .menuContainer{
        margin-top: 20px;
    }
}

@media (max-width: 800px) {
    .menuContainer .h2{
        font-size: 15px;
    }

    .menuContainer .navLink,
    .menuContainer .activeNavLink{
        font-size: 12px;
    }
}