.volumeContainer{
    display: flex;
    height: 100%;
    align-items: center;
    margin-right: 40px;
    font-size: 35px;
}

.volumeContainer .volumeIcon{
  width: 60px;
}

.volumeContainer input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-right: 20px;
}

.volumeContainer input[type="range"]:focus {
  outline: none;
}

.volumeContainer input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

.volumeContainer input[type="range"]::-moz-range-thumb {
  border: none;
}

.range-style::-webkit-slider-runnable-track {
  display: flex;
  align-items: center;
  height: 10px;
  border-radius: 10px;
  box-shadow: inset -2px -2px 8px white, inset 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.range-style::-webkit-slider-thumb {
  position: relative;
  top: -50%;
  width: 20px;
  height: 20px;
  background-color: #e0e0e0;
  background-image: linear-gradient(
    -45deg,
    rgba(255, 255, 255, 0.8),
    transparent
  );
  border-radius: 50%;
  box-shadow: -1px -1px 2px white, 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.range-style::-moz-range-track {
  display: flex;
  align-items: center;
  height: 20px;
  border-radius: 10px;
  box-shadow: inset -2px -2px 8px white, inset 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.range-style::-moz-range-thumb {
  position: relative;
  top: -50%;
  width: 40px;
  height: 40px;
  background-color: #e0e0e0;
  background-image: linear-gradient(
    -45deg,
    rgba(255, 255, 255, 0.8),
    transparent
  );
  border-radius: 50%;
  box-shadow: -1px -1px 2px white, 1px 1px 2px rgba(0, 0, 0, 0.3);
}

@media (max-width: 950px){
  .volumeContainer{
      font-size: 30px;
      justify-content: right;
  }

  .volumeContainer input[type="range"]{
    width: 50%;
  }
}

@media (max-width: 800px){
  .volumeContainer{
      margin-right: 20px;
  }
}

@media (max-width: 600px){
  .volumeContainer{
      width: 25%;
  }

  .range-style::-webkit-slider-thumb {
    width: 12px;
    height: 12px;
  }

  .range-style::-webkit-slider-runnable-track {
    height: 5px;
  }

  .volumeContainer input[type="range"]{
    margin-right: 5px;
  }
}