.generalContainer{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.navOutletContainer{
    display: flex;
    height: 90%;
}

@media (max-width: 820px){
    .navOutletContainer{
        height: 92%;
    }
}