.controlsContainer{
    height: 100%;
    display: flex;
    font-size: 40px;
}

.controlsContainer .back,
.controlsContainer .next,
.controlsContainer .play{
    display: flex;
    align-items: center;
    justify-content: center;
}

.controlsContainer .play{
    width: 60px;
    height: 60px;
    margin: 0 30px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
}

@media (max-width: 950px){
    .controlsContainer{
        font-size: 30px;
    }
}

@media (max-width: 800px){
    .controlsContainer{
        font-size: 20px;
    }

    .controlsContainer .play {
        margin: 0 10px;
        width: 45px;
        height: 45px;
    }
}