.songBarContainer{
    height: 10%;
    background-color: #EB5757;
    color: white;
    display: flex;
    justify-content: space-between;
    z-index: 10;
}

.songBarContainer .actualSong{
    height: 100%;
    width: 20%;
    display: flex;
}

.songBarContainer .actualSong img{
    height: 100%;
}

.songBarContainer .actualSongInfo{
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.songBarContainer .songName{
    text-align: left;
    font-size: 14px;
    margin: 0;
}

.songBarContainer .artistName{
    text-align: left;
    font-size: 12px;
}

@media (max-width: 1250px){
    .songBarContainer .actualSong{
        width: 30%;
    }
}

@media (max-width: 820px){
    .songBarContainer{
        height: 8%;
    }

    .songBarContainer .songName,
    .songBarContainer .artistName{
        font-size: 10px;
    }
}